@import "settings";


.button {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    //border-radius: 9rem;
    border: 0;
    padding: 1.3rem;
    position: relative;
    line-height: 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $reddish;
    color: #fff;
    font-size: 1.5rem;

    &:hover {
        background-color: $reddish-hover;
        border-color: $reddish-hover;
    }
    &:focus {
        outline: none;
    }

    &.white {
        width: auto;
        color: $darkish;
        background-color: #fff;
        border: 1px solid $darkish;
        &:hover {
          background-color: $reddish;
          border-color: $reddish;
          color: #fff;
        }
    }
    &.black {
        background-color: $darkish;
        &:hover {
          background-color: $darkergrey;
          border-color: $darkish;
          color: #fff;
        }
    }
}