/* necessary to give position: relative to parent. */
input[type="text"]{
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0.3rem;
}

:focus{
    outline: none;
}

.col-3{
    float: left;
    //width: 27.33%;
    margin: 5px 3%;
    position: relative;
} 
/* necessary to give position: relative to parent. */
input[type="text"]{
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.effect-16{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-16 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{
    width: 100%;
    transition: 0.4s;
}
.effect-16 ~ label{
    position: absolute;
    left: 0;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    letter-spacing: 0.5px;
    //z-index: -1;
}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{
    top: -16px;
    font-size: 12px;
    color: #4caf50;
    transition: 0.3s;
}

select {
    width: 100%;
}