@import "settings";

section.wrapper {
	background-size: cover;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

div.menu {
    display: flex;
    background-color: $blueinfotel;
}

div.content {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
    flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
    background-color: #F4F5F7;
}

.collaborateur__card {
	display: flex;
    height: 25rem;
    width: 20rem;
    flex-direction: column;
    margin: 1.7rem;
    //background-color: $lightgrey;
    background-color: white;
    border-radius: 0rem;
    box-shadow: 1px 1px 2px grey;

    &:hover {
        //transition-duration: 500ms;
        //transform: scale(1.05);
        
        .collaborateur__card-edit, 
        .collaborateur__card-delete {
            display: flex;
        }
    }

    &-picture {
        display: flex;
        justify-content: center;
        height: 9rem;
        width: auto;
        padding-bottom: 0.5rem;

        img {
            display: flex;
            height: 9rem;
            width: auto;
        }
    }

    &-actions {
        display: flex;
        flex-direction: row;
        height: 2rem;
        justify-content: flex-end;
        width: auto;
    }

    &-delete {
        display: none;
        width: 1.2rem;
        background-image: url(../images/outline-delete_forever-24px.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        margin: 0.2rem;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    &-edit {
        display: none;
        width: 1.2rem;
        background-image: url(../images/outline-edit-24px.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        margin: 0.2rem;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    &-infos {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        height: 100%;
        color: $blueish;
        margin-left: 0.4rem;
        font-family: sans-serif;

        &-firstname {
            font-weight: bold;
            font-size: larger;
            padding-top: 0.5rem;
            line-height: 1rem;
            color: $darkerblueish;
        }
        &-howlong, &-mission, &-job {
            display: flex;
            padding-top: 1rem;
            align-items: flex-end;
            line-height: 1rem;
        }

        img {
            height: 20px;
            width: 20px;
            margin-right: 0.5rem;
        }

        &-skills {
            display: flex;
            font-size: small;
            flex-wrap: wrap;
            padding-top: 0.2rem;
            
            &-skill {
                display: flex;
                border: 1px solid grey;
                box-shadow: 1px 1px 2px grey;
                border-radius: 3rem;
                height: 1rem;
                margin: 0.2rem;
                padding: 0.5rem;
                width: fit-content;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

div.footer {
    height: 25%;
    width: 100%;
}
  