// Primary Colors
$darkish: #354B5C;
$reddish: #FD5252;
$reddish-hover: #EF4344;
$cyan: #49c0d5;
$softgrey: #efeeeb;

//Additional Colors
$purple: #b198c6;
$darkergrey: #86939d;
$darkgrey: #cccccc;
$mediumgrey: #e4e2dd;
$lightgrey: #f4f3f1;
$white : #fff;